@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.about-me {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

li {
  list-style-type: none;
  text-align: left;
  line-height: 95%;
  border: none;
  text-decoration: none;
}

h3 {
  padding-top: 15%;
}

.portrait {
  width: 32%;
  height: 32%;
  border-radius: 50%;
}

.languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5%;
  padding-top: 0%;
}

.languages li {
  background-color: pink;
  color: black;
  text-align: center;
  border: 1px, black, solid;
  border-radius: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 10em;
  margin: 0.5em;
  font-size: 1em;
  margin-right: 15%;
}

.languages li:hover {
  background-color: darkmagenta;
  color: whitesmoke;
  border: 1px, whitesmoke, solid;

}

.hireme {
  font-weight: bold;
}

.about-me-stuff {
  display: block;
  position: fixed;
  margin-left: 27%;
  padding: 2vh 1vw;
  align-self: center;

  scroll-behavior: smooth;
  overflow-x: none;
  overflow-y: scroll;
  overscroll-behavior: contain;

  text-align: center;
  color: grey;

  background: white;
  width: 40vw;
  height: 65vh;
  

};

.about-me-stuff body {
  height: 50vh;
  padding: 2vh;
}